<div class="row">

  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 form box">

    <h3>Forgot your password?</h3>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.email_field :email,
                          autofocus: true,
                          class: "form-control",
                          placeholder: :email %>
      </div>

      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="actions">
            <%= f.submit "Send me reset password instructions", class: 'btn btn-success full-width' %>
          </div>
        </div>
      </div>
    <% end %>

    <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />

  </div>

</div>